* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background-color: #0f172a;
}

body {
  overflow-x: hidden;
  background-color: #0f172a;
  color: #f8fafc;
}